<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Go Rest API: Blogposts</title>
        <link href="static/css/style.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com" alt=tailwindcss></script>
    </head>
    <body>
        <main>
            <h1>
                Hello! Welcome to my Go RESTful API
            </h1>

            <p> 
                Hello again
            </p>
        </main>
    </body>
</html>
