<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Go Rest API: Blogposts</title>
        <link href="static/css/style.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com" alt=tailwindcss></script>
    </head>
    <body>
        <main>
            <h1>
                {{ .Title }}
            </h1>
            <div>
                {{ range .Posts }}
                    <div class="post">
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Content }}</p>
                        <p><a href="/posts/{{ .ID }}">Read more</a></p>
                    </div>
                {{ end }}
            </div>
        </main>
    </body>
</html>
